---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import NotFoundImage from "../assets/imgs/404.png";
---

<BaseLayout title="404" description="Uh oh, I made an oopsie">
  <hgroup>
    <h2>404 Error</h2>
  </hgroup>
  <pre>
(╯°□°)╯︵ ɹoɹɹƎ
  </pre>
  <p>
    <i>The page you requested is just barely out of reach...</i> Don't fret! I can
    still see the <a href="/">home page</a>
    from here.
  </p>
</BaseLayout>
