---
import Layout from "../layouts/Layout.astro";
import ProfileCard from "../components/ProfileCard.astro";
---

<Layout
  title="about • will widjaja"
  description="Student, engineer, leader. Known for being 'Widjaja'."
  footerMsg="say my name"
>
  <main-header>
    <h2>/about</h2>
  </main-header>
  <ProfileCard
    description="Student, engineer, leader. Known for being 'Widjaja'."
    width={200}
    height={200}
  />
  <h3>Bio</h3>
  <p>
    Student, engineer, leader. Sometimes cook. Sometimes singer. Known for being
    'Widjaja'.
  </p>
  <h3>Professional</h3>
  <p>
    I am a 3rd year Computer Science Student at UC San Diego (Expected Grad: Jun
    2026). I also work part-time as a student representative at the UCSD Triton
    Box Office.
  </p>
  <p>I'm currently looking for an internship in tech.</p>
  <p>
    I previously worked as an intern (2024) for a very small and new startup
    called Saciva under the Break Through Tech AI program at UCLA. But before
    college I worked at Chick-fil-A for almost 2 years.
  </p>
  <h3>Hobbies</h3>
  <p>
    I've been cooking a lot in my free time. You can usually find posts about
    these on my Instagram, but I might want to move them to this website
    someday...
  </p>
  <p>I love a good racket sport. Hit me up for a 1v1 or 2v2 :)</p>
  <p>
    I love to watch anime. If I play video games they're usually very
    competitive or purely with friends. Though I do love board games and one
    game that combines both a competitive thinking aspect for me as well as a
    social aspect is poker.
  </p>
  <p>I'm usually always doing something and learning another.</p>
</Layout>
