---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProfileCard from "../components/ProfileCard.astro";
---

<BaseLayout
	title="about"
	description="I am a UCSD student studying computer science."
	footerMsg="Durian is my favorite fruit."
>
	<hgroup>
		<h1>/about</h1>
	</hgroup>
	<ProfileCard
		name="William Widjaja"
		pronouns="he/him"
		dob={new Date(2005, 3, 31)}
		location="La Jolla, CA"
	/>
	<h2>Bio</h2>
	<p>
		I am an Indonesian-American student at UCSD studying computers with a
		lot of curiosity and never enough rice.
	</p>
	<h2>Professional</h2>
	<p>
		Currently, I am working as a...
		<ul>
			<li>
				Student Representative at the <a
					href="https://ucsdtritons.com/sports/2020/10/13/tickets-contact-us.aspx"
					target="_blank">UCSD Triton Box Office</a
				>
			</li>
			<li>
				Event Director for <a
					href="https://acmucsd.com/about"
					target="_blank">UCSD ACM</a
				>
			</li>
			<li>
				Vice President for <a
					href="https://linktr.ee/pokertritons"
					target="_blank">Poker Tritons</a
				>
			</li>
		</ul>
	</p>
	<p>
		In the future, I hope to find more work environments that will allow me
		to grow my skills professionally.
	</p>
	<p>
		In the past, I worked as an intern for a startup called Saciva under the
		Break Through Tech AI program at UCLA. Before college, I worked at
		Chick-fil-A for nearly 2 years.
	</p>
	<h2>Hobbies</h2>
	<p>For my main hobbies I usually...</p>
	<ul>
		<li>Cook.</li>
		<li>Learn languages.</li>
		<li>Play racket sports.</li>
		<li>Explore new places.</li>
		<li>Hang out with friends.</li>
		<li>Watch Anime and KDrama.</li>
		<li>Work on personal projects.</li>
		<li>Play video games (Minecraft, Skyrim, Undertale, Tetris...).</li>
	</ul>
</BaseLayout>
