---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProfileCard from "../components/ProfileCard.astro";
---

<BaseLayout
  title="about"
  description="I am a UCSD student studying computer science."
  footerMsg="#opentowork"
>
  <hgroup>
    <h2>/about</h2>
  </hgroup>
  <ProfileCard
    name="William Widjaja"
    pronouns="he/him"
    dob={new Date(2005, 3, 31)}
    location="La Jolla, CA"
  />
  <h3>Bio</h3>
  <p>
    I am a computer science student at UCSD with a lot of curiosity and never
    enough rice.
  </p>
  <h3>Professional</h3>
  <p>
    I am a 3rd year Computer Science Student at UC San Diego (Expected Grad:
    2026). I also work part-time as a student representative at the UCSD Triton
    Box Office.
  </p>
  <p>I'm currently looking for an internship in tech.</p>
  <p>
    I previously worked as an intern (2024) for a startup called Saciva under
    the Break Through Tech AI program at UCLA. But before college I worked at
    Chick-fil-A for almost 2 years.
  </p>
  <p>
    Someday, I would like to make a succesful indie game.
  </p>
  <h3>Hobbies</h3>
  <p>
    I've been cooking a lot in my free time. You can usually find posts about
    these on my Instagram, but I might want to move them to this website
    someday...
  </p>
  <p>I love a good racket sport. Hit me up for a 1v1 or 2v2 :)</p>
  <p>
    I love to watch anime, kdrama, or whatever other shows are good. If I play
    video games they're usually competitive or with friends. Though I do love
    board games. One game that combines a competitive, reasoning, and social
    aspect is poker.
  </p>
</BaseLayout>
