---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
	address {
		font-style: normal;
	}
</style>

<BaseLayout
	title="contact"
	description="Contact wwidjaja0, aka Widjaja."
	footerMsg="Let's connect over atoms, but like modern."
>
	<hgroup>
		<h2>/contact</h2>
	</hgroup>
	<address>
		<ul>
			<li>Text me (if you need a fast reply).</li>
			<li>
				DM me on Discord, Slack, etc. (if you don't need a fast reply).
			</li>
			<li>Email me (if it's big, professional, or important).</li>
		</ul>
	</address>
	<h3>Active Accounts</h3>
	<ul>
		<li>
			Email: <a href="mailto:contact@wwidjaja.com">contact@wwidjaja.com</a
			>
		</li>
		<li>
			GitHub: <a href="https://github.com/wwidjaja0/" target="_blank"
				>wwidjaja0</a
			>
		</li>
	</ul>
	<h4>Social Media Networks</h4>
	<ul>
		<li>Discord: <code>wwidjaja0</code></li>
		<li>
			Instagram: <a
				href="https://www.instagram.com/wwidjaja0/"
				target="_blank">wwidjaja0</a
			>
		</li>
		<li>
			Spotify: <a
				href="https://open.spotify.com/user/r4v7znsb0fjablq4etvj9jojr?si=e1dedf018dd74a3e/"
				target="_blank">wwidjaja0</a
			>
		</li>
		<li>Slack: (typically) <code>William Widjaja</code></li>
	</ul>
	<h4>Other</h4>
	<ul>
		<li>Minecraft: <code>wwidjaja0</code></li>
		<li>
			Steam: <a
				href="https://steamcommunity.com/id/wwidjaja0/"
				target="_blank">wwidjaja0</a
			>
		</li>
	</ul>
	<h3>Inactive</h3>
	<ul>
		<li>TBD</li>
	</ul>
</BaseLayout>
