---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="contact • will widjaja"
  description="Contact me!"
  footerMsg="reach out!"
>
  <style>
    legend {
      margin-inline-start: 1rem;
    }

    form-field {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      label {
        padding-inline-start: 1rem;
      }

      input {
        padding: 0.25rem;
        margin: 0.5rem;
        width: 80%;
        border: 1px dashed black;
        border-radius: 0.25rem;
      }

      /* if supported, use :user-invalid */
      @supports not selector(:user-invalid) {
        :invalid {
          border: 4px solid red;
        }
      }

      :user-invalid {
        border: 4px solid red;
      }

      .required-label::after {
        content: "*";
        color: red;
        margin-right: 0.25rem;
      }

      textarea {
        resize: vertical;
        min-height: 3rem;
        padding: 0.25rem;
        margin: 0.5rem;
        width: 80%;
        border: 1px dashed black;
        border-radius: 0.25rem;
      }
    }

    @keyframes flashError {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    output {
      transition:
        opacity 0.5s ease,
        visibility 0.5s ease;
      width: fit-content;
      padding: 0 0.5rem;
      margin: 0 1.5rem;
      display: block;

      &[name*="error"] {
        background-color: red;
      }

      &.flash {
        animation: flashError 0.3s ease;
        visibility: hidden;
      }
    }
  </style>
  <script src="scripts/form.js" defer></script>
  <main-header>
    <h2>/contact</h2>
    <p>You've reached my contact page, here are ways to reach out.</p>
  </main-header>
  <address>
    <ul>
      <li>Best way to get a fast response is my number</li>
      <li>If I'm not out I'm usually lurking on Discord</li>
      <li>For bigger or more important things, please email me</li>
      <li>
        To reach my email, shoot it to <a href="mailto:hi@wwidjaja.dev"
          >hi@wwidjaja.dev</a
        >
      </li>
      <li>Or message me below...</li>
    </ul>
  </address>
  <form action="https://httpbin.org/post" method="post">
    <fieldset>
      <legend><h3>Message me!</h3></legend>
      <form-field>
        <label for="name" class="required-label">Full name: </label>
        <input
          id="name"
          name="name"
          type="text"
          placeholder="Your full name"
          minlength="1"
          pattern="^(?! )[A-Za-z0-9 ]+$"
          required
        />
      </form-field>
      <form-field>
        <label for="email" class="required-label">Your email: </label>
        <input
          id="email"
          name="email"
          type="email"
          placeholder="Your email"
          required
        />
      </form-field>
      <form-field>
        <label for="message" class="required-label">Your message: </label>
        <textarea
          id="message"
          name="message"
          rows="2"
          minlength="5"
          maxlength="250"
          placeholder="Write me a message..."
          required></textarea>
        <output name="char_remain" for="message"></output>
      </form-field>
      <pre><output class="flash" name="error_output" for="name email message" /></pre>
      <output class="flash" name="info_output" for="name email message"
      ></output>
      <input id="possible_bot" name="possible_bot" type="hidden" value="true" />
      <input id="form_errors" name="form_errors" type="hidden" value="" />
      <button type="submit">Submit</button>
    </fieldset>
  </form>
</Layout>
