---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <hgroup>
    <p>Greetings digital sailor!</p>
    <h2>I'm Widjaja.</h2>
    <p>But you can call me Wid :)</p>
  </hgroup>

  <p>
    I'm currently an undergraduate at UCSD studying computer science. My main
    focus at the moment is web development. I'm still feeling out AI. If I had
    more time in a day, I would love to spend more time doing game development.
    Alas, school gets busy and internships are calling my name, so hopefully all
    these <a href="https://neetcode.io/">Neetcoding sessions</a> will pay off (soon).
  </p>
  <p>
    You can email me at <a href="mailto:hi@wwidjaja.dev">hi@wwidjaja.dev</a>,
    and find me in other places as <a href="contact">wwidjaja (usually).</a>
  </p>
  <p>
    Find out more <a href="about">about me here.</a>
  </p>
</BaseLayout>
