---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<hgroup style="margin-block-start: 1rem;">
		<p>Greetings digital sailor!</p>
		<h1>I'm Widjaja.</h1>
		<p>But you can call me Wid :)</p>
	</hgroup>

	<p>
		I'm currently an undergraduate at UCSD studying computer science. My
		main focus at the moment is web development. I'm still feeling out AI.
		School keeps me busy and internships are calling my name, so I'll ride
		out into the horizon with my horse named .
	</p>
	<p>
		You can email me at <a href="mailto:contact@wwidjaja.com">
			contact@wwidjaja.com</a
		>, and find me in other places as <a href="contact"> wwidjaja0.</a>
	</p>
	<p>
		Find out more <a href="about">about me here.</a>
	</p>
</BaseLayout>
