---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlockLink from "../components/BlockLink.astro";
---

<BaseLayout>
	<p>Hi, welcome!</p>
	<p>
		Some fast facts about me:
		<ul>
			<li>UC San Diego B.S. Computer Science - Expected Grad Jan. 2027</li>
			<li>Backend Lead, Student Manager, Events Director</li>
			<li>I really like durian.</li>
			<li>Pleased to meet you!</li>
		</ul>
		<a href="/blog/about-me">Read more...</a>
	</p>
	<div>
		<BlockLink
			title="Email"
			description="contact@wwidjaja.com"
			url="mailto:contact@wwidjaja.com"
		/>
		<BlockLink
			title="GitHub"
			description="wwidjaja0"
			url="https://github.com/wwidjaja0/"
		/>
		<BlockLink
			title="LinkedIn"
			description="wwidjaja0"
			url="https://www.linkedin.com/in/wwidjaja0/"
		/>
		<BlockLink
			title="Instagram"
			description="wwidjaja0"
			url="https://www.instagram.com/wwidjaja0/"
		/>
		<BlockLink
			title="Resume"
			description="Last updated: 10/5/2025"
			url="/resume.pdf"
		/>
	</div>
	<br />
	<p>Some fun things I've made are:</p>
	<p>
		<BlockLink
			title="this website"
			description="you're looking at it!"
		/>
		<BlockLink
			title="opportune"
			description="a social platform aiming to support job search"
			url="https://github.com/CSES-Open-Source/Opportune"
			middle="fullstack dev"
		/>
		<BlockLink
			title="memoryspot"
			description="a CRUD-location based web app"
			url="https://github.com/cse110-sp25-group24/cse110-sp25-group24"
			middle="team lead and fullstack dev"
		/>
		<BlockLink
			title="floor-manager"
			description="a Discord bot for managing the 'floor'"
			url="https://github.com/wwidjaja0/floor-manager"
		/>
		<BlockLink
			title="a-gift"
			description="send a gift while also saving paper"
			url="https://github.com/wwidjaja0/a-gift"
		/>
	</p>
	<br />
	<p>
		<pre>
.------..------..------..------..------..------..------.
|W.--. ||I.--. ||D.--. ||J.--. ||A.--. ||J.--. ||A.--. |
| :/\: || (\/) || :/\: || :(): || (\/) || :(): || (\/) |
| :\/: || :\/: || (__) || ()() || :\/: || ()() || :\/: |
| '--'W|| '--'I|| '--'D|| '--'J|| '--'A|| '--'J|| '--'A|
`------'`------'`------'`------'`------'`------'`------'
		</pre>
	</p>
</BaseLayout>
