---
import Layout from "../layouts/Layout.astro";
---

<Layout title="will widjaja">
  <main-header>
    <hgroup>
      <p>Greetings digital sailor!</p>
      <h2>I'm Widjaja.</h2>
      <p>But you can call me Wid :)</p>
    </hgroup>
  </main-header>

  <p>
    I'm a Computer Science Student at UC San Diego (Expected Grad: Jun 2026), a
    student employee at the Triton Box Office, a board presenter for UCSD ACM, a
    board exec for Poker Tritons, and looking for an internship. I also do a bit
    of video/photo editing on the side :3
  </p>
  <p>
    You can email me at
    <a href="mailto:hi@wwidjaja.dev">hi@wwidjaja.dev</a>, and find me in other
    places as wwidjaja (usually). Otherwise, you can <a href="/verify">verify</a
    > if something is really me or not.
  </p>
  <p>
    If you want to know more about me,
    <a href="/about">hop in!</a>
  </p>
</Layout>
