---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="links • will widjaja"
  description="My bookmarks for sites I have found to be useful or would like to give credit to."
  footerMsg=`tread lightly`
>
  <main-header>
    <h2>/links</h2>
    <p>
      Here are some external links that helped me do some of my
      <a href="work.html">work</a>.
    </p>
  </main-header>
  <section>
    <h3>/links - This Website</h3>
    <h4>Tools I Used</h4>
    <ul>
      <li>
        <a href="https://favicon.io/favicon-converter/" target="_blank"
          >https://favicon.io/favicon-converter/</a>
      </li>
      <li>
        <a href="https://metatags.io/" target="_blank">https://metatags.io/</a>
      </li>
      <li>
        <a href="https://www.realtimecolors.com/" target="_blank"
          >https://www.realtimecolors.com/</a>
      </li>
    </ul>
    <h4>Inspiration</h4>
    <p>
      Some of these were heavy inspirations for the beginnings of my site. Thank
      you for providing the world with this talent.
    </p>
    <ul>
      <li>
        <a href="https://rknight.me/" target="_blank">https://rknight.me/</a>
      </li>
      <li>
        <a href="https://jarema.me/" target="_blank">https://jarema.me/</a>
      </li>
      <li>
        <a href="https://freeplay.floof.company/" target="_blank"
          >https://freeplay.floof.company/</a>
      </li>
    </ul>
  </section>
  <section>
    <h3>/links - Other Websites I Think Are Cool</h3>
    <ul>
      <li>
        <a href="https://owltastic.com/work.html" target="_blank"
          >https://owltastic.com/work.html</a>
      </li>
    </ul>
  </section>
</Layout>
