---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="now • will widjaja"
  description="What am I doing right now?"
  footerMsg=`Déjà vu. I've just been in this place before...`
>
  <main-header>
    <h2>/now</h2>
    <p>What am I up to right now?</p>
  </main-header>
  <aside>Last updated July 2025.</aside>
  <h3>HW 3</h3>
</Layout>
