---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="verify • will widjaja"
  description="Verify if it's truly Widjaja."
  footerMsg=`now where'd i put my id...`
>
  <main-header>
    <h2>/verify</h2>
    <p>Verify my identity by cross-referencing this page.</p>
  </main-header>
  <p>
    If you see an account that looks like it <em>could be me</em>
    but it isn't here, please <a href="contact.html">reach out</a>.
  </p>
  <h3>Active Accounts</h3>
  <h4>Social Media Networks</h4>
  <ul>
    <li>Discord: <code>wwidjaja</code></li>
    <li>
      Instagram: <a href="https://www.instagram.com/wcwidjaja/">wcwidjaja</a>
    </li>
    <li>GitHub: <a href="https://github.com/wwidjaja0/">wwidjaja0</a></li>
    <li>
      Spotify: <a
        href="https://open.spotify.com/user/r4v7znsb0fjablq4etvj9jojr?si=e1dedf018dd74a3e/"
        >widjaja0</a>
    </li>
    <li>Slack: (typically) <code>William Widjaja</code></li>
  </ul>
  <h4>Other</h4>
  <ul>
    <li>Email: <a href="mailto:hi@wwidjaja.dev">hi@wwidjaja.dev</a></li>
    <li>Minecraft: <code>wwidjaja</code></li>
    <li>
      Steam: <a href="https://steamcommunity.com/id/widjaja0/">widjaja0</a>
    </li>
  </ul>
  <h3>Inactive</h3>
  <p>I rarely use these.</p>
  <ul>
    <li>TBD</li>
  </ul>
</Layout>
