---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="wish • will widjaja"
  description="What should I get Widjaja?"
  footerMsg=`when you wish upon a star...`
>
  <main-header>
    <h2>/wish</h2>
    <p>
      Wondering what to get me? Feel free to look at this non-comprehensive list
      of things I want or wish for right now.
    </p>
  </main-header>
  <section>
    <h3>My Wishlist</h3>
    <h4>Amazon</h4>
    <ul class="wishlist">
      <li>
        <a href="https://a.co/d/1ig1zzC" target="_blank">
          <p>EPOMAKER X Aula F108 PRO</p>
          <img
            src="https://m.media-amazon.com/images/I/61qEkZZOYHL._AC_SX466_.jpg"
            alt="Image of EPOMAKER X Aula F108 PRO"
            width="200px"
          />
        </a>
      </li>
      <li>
        <a href="https://a.co/d/ccqe3U3" target="_blank">
          <p>MSI Gaming RTX 5060 Ti 16G</p>
          <img
            src="https://m.media-amazon.com/images/I/71y4dBd3woL._AC_SX466_.jpg"
            alt="Image of MSI Gaming RTX 5060 Ti 16G"
            width="200px"
          />
        </a>
      </li>
    </ul>
    <h4>Other</h4>
    <ul class="wishlist">
      <li>Money</li>
      <li>Omakase</li>
    </ul>
  </section>
</Layout>
