---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="work • will widjaja"
  description="A collection of my past work and projects."
  footerMsg=`i'll take a browser cookie... and eat it`
>
  <main-header>
    <h2>/work</h2>
    <p>Here is a collection of my past works and projects.</p>
  </main-header>
  <form method="GET">
    <search>
      <label for="search-box">Search by title</label>
      <input
        id="search-box"
        name="query"
        type="search"
        placeholder="Look for a project..."
      />
      <fieldset>
        <legend>Filter by tags</legend>
        <label><input type="checkbox" name="tags" value="web" />Web</label>
        <label><input type="checkbox" name="tags" value="ai" />AI</label>
        <label><input type="checkbox" name="tags" value="music" />Music</label>
        <label><input type="checkbox" name="tags" value="other" />Other</label>
      </fieldset>
      <button type="submit">Search</button>
    </search>
  </form>
  <section>
    <h3>Current</h3>
    <p>
      This is a placeholder, there is a hidden template for a card below me.
    </p>
    <template>
      <h4>Title</h4>
      <p>Description goes here.</p>
      <img src="" alt="" />
      <div>
        <p>Categories go here.</p>
      </div>
    </template>
  </section>
</Layout>
