---
import NavLink from "./NavLink.astro"

interface Props {
  message?: string;
}

const year = new Date().getFullYear();
const { message = ":3" } = Astro.props;
---

<footer>
  <p>&copy; {year} <a href="contact">wwidjaja0</a></p>
  <p>{message}</p>
</footer>
