---
import { Image } from "astro:assets";

import InlineLink from "./InlineLink.astro";
---

<header>
	<nav>
		<InlineLink href="/">
			<h1>William Widjaja</h1>
		</InlineLink>
		<ul>
			<li><InlineLink href="/blog">blog</InlineLink></li>
		</ul>
	</nav>
</header>
