---
import { Image } from "astro:assets";
import logo from "../assets/imgs/logo.png";

import NavLink from "./NavLink.astro";
---

<header>
	<nav>
		<top-nav>
			<NavLink href="/">
				<Image id="logo" src={logo} alt="Logo of Widjaja" />
			</NavLink>
		</top-nav>
		<bottom-nav>
			<ul>
				<li><NavLink href="/about">about</NavLink></li>
				<li><NavLink href="/garden">garden</NavLink></li>
				<li><NavLink href="/contact">contact</NavLink></li>
				<li><NavLink href="/work">work</NavLink></li>
			</ul>
		</bottom-nav>
	</nav>
</header>
