/** CSS @ Rules **/

@font-face {
    font-family: "JetBrainsMono";
    src:
        url("./JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes profileCard {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@view-transition {
    navigation: auto;
}

/** CSS Variables **/

:root {
    --background-color: black;
    --text-color: #ffffff;
    --primary-color: #a2ffb2;
    --accent-color: #ffe263;
    --shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fffdeb;
        --text-color: #000000;
        --primary-color: #008015;
        --accent-color: purple;
    }
}

/** Global Styles **/

* {
    font-family: "JetBrainsMono", system-ui, Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
    line-height: 2;

    /* Reset default browser styles */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    background: var(--background-color, #1c1c1c);
    color: var(--text-color, #ffffff);
}

hgroup {
    display: flex;
    justify-content: space-between;

    h2 {
        align-self: center;
    }

    div {
        margin-block-end: 1rem;
    }

    aside {
        font-size: 0.75rem;
        color: gray;
    }

    span {
        a {
            text-decoration: none;
        }
    }
}

article {
    a {
        text-decoration: none;
    }
}

h1 {
    font-weight: normal;
}

h2 {
    text-decoration: underline;
}

ul,
ol {
    padding-inline-start: 1rem;
    list-style-position: inside;
}

a {
    transition: color 1s ease;
    color: var(--primary-color, #00ffff);

    &:hover {
        transition: background-color 0s, color 0s;
        color: var(--accent-color, #ffffff);
    }
}

a[href*="http"]::after {
    content: " ↗";
    font-size: 0.8rem;
    vertical-align: super;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 768px;
    padding: 1rem 0;

    a {
        display: flex;
        text-decoration: none;
        padding: 0.25rem;
    }

    ul {
        display: flex;
        gap: 1rem;

        li {
            list-style: none;
        }
    }
}

.active {
    text-decoration-line: underline;
    color: var(--accent-color, #00ffff);
}

pre {
    line-height: 1;
    align-self: center;
}

main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
    padding: 1rem;

    p {
        margin-block-start: 0.5rem;
    }
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #2a2a33;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color, #baffe7);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color, #ff0059);
}

@media screen and (max-width: 768px) {
    hgroup {
        flex-direction: column;
        align-items: center;
    }

    div {
        display: flex;
        flex-direction: column;

        a {
            justify-content: center;
        }
    }

    aside {
        display: none;
    }

    nav {
        margin: 0 1rem;

        ul {
            flex-wrap: wrap;
        }
    }

    pre {
        font-size: 0.7rem;
    }
}